.task-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-name {
  font-weight: bold;
  color: #333;
}

.task-item button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.advance-button {
  color: #007bff;
}

.advance-button:hover {
  color: #0056b3;
}

.delete-button {
  color: #dc3545;
}

.delete-button:hover {
  color: #c82333;
}

.task-details {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
  padding-left: 1rem;
  border-left: 2px solid #ddd;
}

.task-category,
.task-author {
  margin: 2px 0;
}

.subtasks {
  margin-left: 1rem;
  padding-left: 0.5rem;
  margin-top: 10px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  background-color: #e9e9e9;
  border-radius: 3px;
  margin-bottom: 5px;
}

.subtask-name {
  font-size: 0.9em;
  color: #333;
}

.subtask-delete-button {
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.subtask-delete-button:hover {
  background-color: #e53935;
}

.add-subtask {
  margin-top: 10px;
}

.subtask-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 0.9em;
}
