.task-column {
  width: 30%;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-column h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
}

.task-column.NotStarted {
  background-color: #f8d7da; /* Rouge léger */
}

.task-column.InProgress {
  background-color: #fff3cd; /* Jaune léger */
}

.task-column.Completed {
  background-color: #d4edda; /* Vert léger */
}
